.menu li {
    font-size: 1.4em;
    color: #800;
    margin: 10px 0px;
}

.menu {
    width: 200px;
    background: #f9e497;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px double #000;
    -webkit-box-shadow: 6px 6px 0px 1px #800;
    -moz-box-shadow: 6px 6px 0px 1px #800;
    box-shadow: 6px 6px 0px 1px #800;
}