.form {
    background-color: #0690cf;
    width: 500px;
    margin: 20px;
    border: 7px solid #0075b2;
}

.double-block input {
    display: block;
    margin-right: 15px;
    width: 179px;
    height: 20px;
}

.single-block input {
    display: block;
    width: 80%;
    height: 20px;
    margin: 7px 0px 0px 0px;
}

.double-block button {
    display: block;
}

.single-block {
    padding: 12px;
}

.double-block {
    width: 100%;
    padding: 0px 0px 0px 12px;
}

.line-block {
    display: inline-block;
}

.double-block button {
    width: 21%;
    height: 30px;
    margin: 20px 0px 15px 0px;
    background: #ffdf7f;
}

.form label {
    font-size: 1.8em;
    color: #ffffff;
}

.header h1 {
    font-size: 2.2em;
    color: #ffffff;
    padding: 12px;
    border-bottom: 2px solid #ffffff;
}